* {
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    font-family: "Amatic SC", cursive;
    font-size: 18px;
}

header {
    height: 70px;
    border-bottom: 1px black solid;
}

.logo {
    position: absolute;
    left: 50px;
    top: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-pic {
    position: absolute;
    right: 20px;
    top: 10px;
}

.nav-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.find-people {
    position: absolute;
    right: 190px;
    top: 30px;
}

.chat {
    position: absolute;
    right: 150px;
    top: 30px;
}

.friends {
    position: absolute;
    right: 90px;
    top: 30px;
}

.profile-pic img {
    width: 200px;
    height: 200px;
}

input {
    background-color: white;
}

.upload-container {
    padding-left: 50px;
}

.upload-container input {
    margin: 5px;
}

.profile-container {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.profile-container img {
    width: 200px;
    height: 200px;
}

.find-container {
    display: flex;
    flex-direction: row;
}

.find-container img {
    width: 100px;
    height: 100px;
}

.bio-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.textarea {
    border: 1px black solid;
    border-radius: 10px;
}

.chat-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 50%;
    overflow-y: scroll;
    border: 1px black solid;
    border-radius: 25px;
    box-shadow: black;
}

.friends-main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.real-friends {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 25px;
}

.wannabe-friends {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 25px;
}

.friends-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friends-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-pic img {
    width: 50px;
    height: 50px;
}

.reg-container {
    position: absolute;
    top: 150px;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    /* border: 2px black solid; */
    border-radius: 25px;
}

.reg-container input {
    margin: 10px;
    border: none;
    border-bottom: 1px black solid;
    justify-items: center;
}

.reg-button {
    font-size: 15px;
    padding-bottom: 20px;
}

.login {
    position: absolute;
    right: 100px;
    top: 30px;
}

.login-main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    float: right;
    top: 10px;
    right: 100px;
}

.login-container input {
    margin: 5px;
    border: none;
    border-bottom: 1px black solid;
}

.forget {
    font-size: 15px;
    float: right;
}

.reset-container {
    position: absolute;
    top: 150px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    /* border: 2px black solid; */
    border-radius: 25px;
}

.reset-container input {
    margin: 5px;
}

/* .upload-container {
    width: 400px;
    height: 300px;
    background-color: yellowgreen;
    border: darkolivegreen;
    border-radius: 25px;
} */
